.content-box {
    height: 30vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: .25rem;
    background-color: #f8f9fa;
}

.main-layout .col-md-3,
.main-layout .col-md-5,
.main-layout .col-md-4 {
    display: flex;
    flex-direction: column;
}

.main-layout .content-box {
    flex-grow: 1;
}
